<div class="home-body">
  <ngb-carousel class="car">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-flex">
        <img
          src="../../../assets/images/carousel1.jpeg"
          alt="Random first slide"
        />
        <img
          src="../../../assets/images/carousel12.jpeg"
          alt="Random first slide"
        />
        <img
          src="../../../assets/images/carousel13.jpeg"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Welcome To InstaSmart</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-flex">
        <img
          src="../../../assets/images/carousel2.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel22.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel23.jpeg"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Welcome to InstaSmart</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-flex">
        <img
          src="../../../assets/images/carousel3.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel32.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel33.jpeg"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Welcome to InstaSmart</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-flex">
        <img
          src="../../../assets/images/carousel4.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel42.jpeg"
          alt="Random second slide"
        />
        <img
          src="../../../assets/images/carousel43.jpeg"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Welcome to InstaSmart</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <app-category-list></app-category-list>
</div>
