<form [formGroup]="contactForm">
  <div class="contact-body">
    <div class="form-sty">
      <p class="mat-headline-4 heading">Contact Us</p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter First Name</mat-label>
          <input formControlName="fname" matInput placeholder="First Name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter Last Name</mat-label>
          <input formControlName="lname" matInput placeholder="Last Name" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Store Name</mat-label>
          <mat-select formControlName="store">
            <mat-option *ngFor="let store of stores" [value]="store">
              {{ store }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea
            formControlName="com"
            matInput
            placeholder="Ex. It makes me feel..."
          ></textarea>
        </mat-form-field>
      </p>

      <p>
        <button
          [disabled]="!contactForm.valid"
          (click)="contact()"
          mat-raised-button
        >
          Submit
        </button>
      </p>
    </div>
  </div>
</form>
