<form [formGroup]="productForm">
  <h1 mat-dialog-title>Create Product</h1>
  <div mat-dialog-content>
    <p></p>
    <mat-form-field appearance="outline">
      <mat-label>Enter Product Name</mat-label>
      <input class="name" matInput formControlName="name" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline">
      <mat-label>Enter Product Price</mat-label>
      <input
        class="price"
        type="number"
        matInput
        autocomplete="off"
        formControlName="price"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline">
      <mat-label>Select Category</mat-label>
      <mat-select class="category" matInput formControlName="category">
        <mat-option *ngFor="let cat of categoryList" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select> </mat-form-field
    ><br />
    <mat-form-field appearance="outline">
      <mat-label>Enter Product Rating</mat-label>
      <input class="rating" matInput formControlName="rating" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button
      class="bt"
      [disabled]="!productForm.valid"
      mat-raised-button
      color="primary"
      (click)="create()"
      cdkFocusInitial
    >
      Create
    </button>
  </div>
</form>
