<div class="card-sty p-1">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="heading-sty">
        <mat-card-title>{{ product.name }}</mat-card-title>
        <h2 class="price">{{ product.price | currency : "INR" }}*</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image [src]="product.img" alt="Photo of a Product" />
    </mat-card-content>
    <mat-card-actions>
      <div class="btn-div">
        <button
          mat-raised-button
          color="primary"
          mat-button
          (click)="addToCart()"
        >
          Add To Cart
        </button>

        <button
          *ngIf="isAdmin"
          mat-raised-button
          color="accent"
          (click)="openDialog()"
          mat-button
        >
          Edit
        </button>
        <button
          *ngIf="isAdmin"
          mat-raised-button
          color="warn"
          (click)="deleteDialog()"
          mat-button
        >
          Delete
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
