<p>
  <mat-toolbar color="primary">
    <span style="cursor: pointer" [routerLink]="['home']">Insta Smart</span>
    <span class="example-spacer"></span>

    <div class="btn-div">
      <div *ngIf="isAdmin">
        <button mat-raised-button color="primary" (click)="openDialog()">
          Add New Product<mat-icon>library_add</mat-icon>
        </button>
      </div>

      <button mat-flat-button color="primary" [routerLink]="['about-us']">
        About Us<mat-icon>info</mat-icon>
      </button>

      <button mat-flat-button color="primary" [routerLink]="['contact-us']">
        Contact Us<mat-icon>call</mat-icon>
      </button>

      <button mat-flat-button color="primary" [routerLink]="['cart']">
        <mat-icon>shopping_cart</mat-icon>{{ quan }}
      </button>

      <button
        class="bt"
        mat-flat-button
        *ngIf="CurrUser !== null"
        color="primary"
      >
        Welcome, {{ CurrUser.userName }}
      </button>

      <button
        class="bt1"
        *ngIf="!isAuth"
        mat-flat-button
        color="primary"
        [routerLink]="['login']"
      >
        Login<mat-icon>login</mat-icon>
      </button>

      <button
        class="bt2"
        *ngIf="isAuth"
        mat-flat-button
        color="primary"
        (click)="logout()"
      >
        Logout<mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
